.banner {
  background-image: $banner_background_image;
  width: $banner_width;
  height: $banner_height;
  background-size: $banner_background_size;
  background-repeat: $banner_background_repeat;
  background-position: $banner_background_position;
}
