@mixin respond-to($breakpoint) {
  @if $breakpoint == phone {
    @media only screen and (max-width: 600px) {
      @content;
    }
  } @else if $breakpoint == tablet {
    @media only screen and (min-width: 601px) and (max-width: 900px) {
      @content;
    }
  } @else if $breakpoint == desktop {
    @media only screen and (min-width: 901px) {
      @content;
    }
  } @else {
    @error "Invalid breakpoint: #{$breakpoint}. Please use 'phone', 'tablet', or 'desktop'.";
  }
}
.content-block {
  width: 80%;
  height: 600px;
  //   background-color: red;
  margin: auto;
  margin-top: 50px;

  @include respond-to(phone) {
    height: 1200px;
    width: 90%;
  }
  @include respond-to(tablet) {
    width: 95%;
    height: 300px;
  }
}
