$banner_background_image: url('../../images/skibanner.jpeg');
$banner_width: 100%;
$banner_height: calc(800px - 150px);
$banner_background_size: cover;
$banner_background_repeat: no-repeat;
$banner_background_position: center;
// $banner_backgroundColor: red;
