$universal_margin: 0;
$universal_padding: 0;
$universal_boxSizing: border-box;

$header_width: 100%;
$header_height: 800px;
// $header_backgroundColor: grey;

$base_color: #1f2051;

$metabar_width: 100%;
$metabar_height: 50px;
$metabar_backgroundColor: #1f2051;

$metabar_listWidth: 40%;
$metabar_listHeight: 50px;
$metabar_listBackgroundColor: none;

$metabar_list_itemWidth: 10%;
$metabar_list_itemHeight: 30px;
$metabar_list_itemColor: none;

$switchWidth: 80%;
$switchHeight: 30px;
$switchbackgroundColor: white;
