.teaser-grid {
  width: 100%;
  height: calc(600px - 100px);
  //   background-color: grey;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  padding-top: 50px;
  @include respond-to(phone) {
    grid-template-columns: 1fr;
    height: 1000px;
  }
  @include respond-to(tablet) {
    height: 300px;
  }
  .box {
    height: 400px;
    background-color: lightgray;
    @include respond-to(phone) {
      height: 300px;
    }
    @include respond-to(tablet) {
      height: 250px;
    }
  }
}
